/* A effacer en fin de projet  */
body {
	
	background-color:red;
}

/* Mise en page */

div#container { 
	width:95vw;
	margin:auto;
	max-width:1400px;

}


/* Navigation */
nav ul { 
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
}


/* Main */
main {
	display:flex;
}

section#thumbnail {
	display:flex;
	order:-1;
}


/* Footer */
